body {
  font-family: "Roboto", "sans-serif";
  background-color: #ffffff;
  color: #434455;
}
p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.title-span {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.header-logo-right {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo-right {
  color: #2e2f42;
}
.studso-header-first:hover {
  color: #404bbf;
}
